<div class="page-container page-content">
  <app-breadcrumb [items]="[{ label: 'Home', url: '/' }, { label: 'Product Recall' }]" />
  
  <header class="recall-header">
    <h1 class="recall-title">Product Recall</h1>
    <p class="recall-subtitle">Important safety information and product recalls for our customers.</p>
  </header>

  <div class="recall-grid-wrapper">
    <div class="base-components__BaseElement-sc-1mosoyj-0 panel__PanelContainer-sc-94uvec-0 kLJbkT kOARjD">
      <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-14x1f4r-0 hpKdXe fRHywh styled__StyledBeansContentGroup-sc-15yjzfo-0 ilGYwf beans-content-group__container">
        <div class="base-components__RootElement-sc-1mosoyj-1 styled-slwnqq-0 hBKxqL jnsdjw beans-grid__container">
          <div class="base-components__RootElement-sc-1mosoyj-1 styled-erqp9a-0 hBKxqL hnBdFD beans-grid__row">
            
            <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-1p7y193-0 hBKxqL FBuSv beans-grid__column">
              <div class="styled__StyledDiv-sc-3p8bpt-0 ijbEaj">
                <a aria-label="Specific batches of various Toshiba televisions, Date of safety notice: 24/04/26" class="base-components__RootElement-sc-1mosoyj-1 styled__Container-sc-2ypaim-0 hBKxqL hOKhdr beans-content-group__content beans-content-stamp__container" href="https://digitalcontent.api.tesco.com/v2/media/homepage/3f8f791e-4a42-4aa6-9272-2503295db199/2609+Recall+Toshiba+TVs+-+994550.pdf">
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__ImageContainer-sc-2ypaim-1 kLJbkT eURbBK beans-content-stamp__image-container">
                    <picture><img class="styled__Image-sjvkdn-0 jQqzzH beans-content-stamp__responsive-image beans-responsive-image__image" src="https://digitalcontent.api.tesco.com/v2/media/homepage/cedc8894-b156-4940-94a2-9a3dda04d848/2609-DC-Product-Recall-604x340-Toshiba-TV.jpeg" alt="null"></picture>
                  </div>
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__PanelContainer-sc-2ypaim-3 kLJbkT jjggsn beans-content-stamp__panel-container">
                    <div class="base-components__BaseElement-sc-1mosoyj-0 kLJbkT beans-content-stamp__content-container">
                      <h3 class="base-components__BaseElement-sc-1mosoyj-0 styled__Headline-sc-2ypaim-4 kLJbkT fCvCIX beans-content-stamp__headline">Specific batches of various Toshiba televisions</h3>
                      <p class="styled__StyledBodyText-sc-119w3hf-5 jbyJzm styled__BodyText-sc-2ypaim-5 dvrrOP beans-content-stamp__body-text">Date of safety notice: 24/04/26</p>
                    </div>
                    <div class="styled__CTALinkContainer-sc-2ypaim-6 fxJSIs beans-content-stamp__link-container">
                      <span class="styled__Anchor-sc-1xbujuz-0 ievKTg beans-content-stamp__link beans-link__anchor">
                        <span class="styled__Text-sc-1xbujuz-1 eGUWOR beans-link__text">See details</span>
                        <span class="styled__IconContainer-sc-1xbujuz-2 fErNNd beans-link__icon-container"><svg aria-hidden="true" class="styled__SVG-xxa4wh-1 bItIHD beans-link__icon beans-icon__svg" height="20" preserveAspectRatio="xMinYMax meet" viewBox="-1 0 12 20" width="12" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M1.312 1.348L10.276 10l-8.964 8.644" fill="none" stroke="currentColor"></path></svg></span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-1p7y193-0 hBKxqL FBuSv beans-grid__column">
              <div class="styled__StyledDiv-sc-3p8bpt-0 ijbEaj">
                <a aria-label="Good4U Super Sprouts Super Greens 60g (Ireland and NI only), Date of recall: 22/04/26" class="base-components__RootElement-sc-1mosoyj-1 styled__Container-sc-2ypaim-0 hBKxqL hOKhdr beans-content-group__content beans-content-stamp__container" href="https://digitalcontent.api.tesco.com/v2/media/ghs-roi/543fb607-0711-4552-ab12-4ef352f02e8e/2609-985650+-+Good4U+Super+Greens+-+NI+%26+ROI.pdf">
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__ImageContainer-sc-2ypaim-1 kLJbkT eURbBK beans-content-stamp__image-container">
                    <picture><img class="styled__Image-sjvkdn-0 jQqzzH beans-content-stamp__responsive-image beans-responsive-image__image" src="https://digitalcontent.api.tesco.com/v2/media/ghs-roi/7cc34d26-fd07-4d38-91c9-6f9afcee256e/Site-+2609-985650+-+Good4U+Super+Greens.png" alt="Good4U Super Sprouts Super Greens 60g (Ireland and NI only)"></picture>
                  </div>
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__PanelContainer-sc-2ypaim-3 kLJbkT jjggsn beans-content-stamp__panel-container">
                    <div class="base-components__BaseElement-sc-1mosoyj-0 kLJbkT beans-content-stamp__content-container">
                      <h3 class="base-components__BaseElement-sc-1mosoyj-0 styled__Headline-sc-2ypaim-4 kLJbkT fCvCIX beans-content-stamp__headline">Good4U Super Sprouts Super Greens 60g (Ireland and NI only)</h3>
                      <p class="styled__StyledBodyText-sc-119w3hf-5 jbyJzm styled__BodyText-sc-2ypaim-5 dvrrOP beans-content-stamp__body-text">Date of recall: 22/04/26</p>
                    </div>
                    <div class="styled__CTALinkContainer-sc-2ypaim-6 fxJSIs beans-content-stamp__link-container">
                      <span class="styled__Anchor-sc-1xbujuz-0 ievKTg beans-content-stamp__link beans-link__anchor">
                        <span class="styled__Text-sc-1xbujuz-1 eGUWOR beans-link__text">See details</span>
                        <span class="styled__IconContainer-sc-1xbujuz-2 fErNNd beans-link__icon-container"><svg aria-hidden="true" class="styled__SVG-xxa4wh-1 bItIHD beans-link__icon beans-icon__svg" height="20" preserveAspectRatio="xMinYMax meet" viewBox="-1 0 12 20" width="12" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M1.312 1.348L10.276 10l-8.964 8.644" fill="none" stroke="currentColor"></path></svg></span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-1p7y193-0 hBKxqL FBuSv beans-grid__column">
              <div class="styled__StyledDiv-sc-3p8bpt-0 ijbEaj">
                <a aria-label="Tesco Finest Summer Edition Chocolate Affogato Dessert 538g, Date of recall: 09/04/26" class="base-components__RootElement-sc-1mosoyj-1 styled__Container-sc-2ypaim-0 hBKxqL hOKhdr beans-content-group__content beans-content-stamp__container" href="https://digitalcontent.api.tesco.com/v2/media/homepage/b8aba81d-bc0e-4f37-99cc-979692a18e43/2606-951900-Tesco+Finest+Affogato+Dessert+UK%26ROI.pdf">
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__ImageContainer-sc-2ypaim-1 kLJbkT eURbBK beans-content-stamp__image-container">
                    <picture><img class="styled__Image-sjvkdn-0 jQqzzH beans-content-stamp__responsive-image beans-responsive-image__image" src="https://digitalcontent.api.tesco.com/v2/media/homepage/c072ab02-fe1d-44e9-8653-e64951d68357/2606-DC-Product-Recall-604x340-Tesco+Finest+Affogato+Dessert+UK.jpeg" alt="Tesco Finest Summer Edition Chocolate Affogato Dessert 538g"></picture>
                  </div>
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__PanelContainer-sc-2ypaim-3 kLJbkT jjggsn beans-content-stamp__panel-container">
                    <div class="base-components__BaseElement-sc-1mosoyj-0 kLJbkT beans-content-stamp__content-container">
                      <h3 class="base-components__BaseElement-sc-1mosoyj-0 styled__Headline-sc-2ypaim-4 kLJbkT fCvCIX beans-content-stamp__headline">Tesco Finest Summer Edition Chocolate Affogato Dessert 538g</h3>
                      <p class="styled__StyledBodyText-sc-119w3hf-5 jbyJzm styled__BodyText-sc-2ypaim-5 dvrrOP beans-content-stamp__body-text">Date of recall: 09/04/26</p>
                    </div>
                    <div class="styled__CTALinkContainer-sc-2ypaim-6 fxJSIs beans-content-stamp__link-container">
                      <span class="styled__Anchor-sc-1xbujuz-0 ievKTg beans-content-stamp__link beans-link__anchor">
                        <span class="styled__Text-sc-1xbujuz-1 eGUWOR beans-link__text">See details</span>
                        <span class="styled__IconContainer-sc-1xbujuz-2 fErNNd beans-link__icon-container"><svg aria-hidden="true" class="styled__SVG-xxa4wh-1 bItIHD beans-link__icon beans-icon__svg" height="20" preserveAspectRatio="xMinYMax meet" viewBox="-1 0 12 20" width="12" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M1.312 1.348L10.276 10l-8.964 8.644" fill="none" stroke="currentColor"></path></svg></span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-1p7y193-0 hBKxqL FBuSv beans-grid__column">
              <div class="styled__StyledDiv-sc-3p8bpt-0 ijbEaj">
                <a aria-label="The Curing Barn British Bresaola 60g, Date of recall: 04/04/26" class="base-components__RootElement-sc-1mosoyj-1 styled__Container-sc-2ypaim-0 hBKxqL hOKhdr beans-content-group__content beans-content-stamp__container" href="https://digitalcontent.api.tesco.com/v2/media/homepage/7f7cbc63-17d4-495d-b2ff-a74dd278c39b/2606-WF-942132-Product+Recall-The+Curing+Barn+British+Bresaola+60g+UK.pdf">
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__ImageContainer-sc-2ypaim-1 kLJbkT eURbBK beans-content-stamp__image-container">
                    <picture><img class="styled__Image-sjvkdn-0 jQqzzH beans-content-stamp__responsive-image beans-responsive-image__image" src="https://digitalcontent.api.tesco.com/v2/media/homepage/2b20a4ea-bf48-4167-bae9-de337cedde6f/2606-DC-Product-Recall-604x340-The+Curing+Barn+British+Bresaola+60g+UK.jpeg" alt="null"></picture>
                  </div>
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__PanelContainer-sc-2ypaim-3 kLJbkT jjggsn beans-content-stamp__panel-container">
                    <div class="base-components__BaseElement-sc-1mosoyj-0 kLJbkT beans-content-stamp__content-container">
                      <h3 class="base-components__BaseElement-sc-1mosoyj-0 styled__Headline-sc-2ypaim-4 kLJbkT fCvCIX beans-content-stamp__headline">The Curing Barn British Bresaola 60g</h3>
                      <p class="styled__StyledBodyText-sc-119w3hf-5 jbyJzm styled__BodyText-sc-2ypaim-5 dvrrOP beans-content-stamp__body-text">Date of recall: 04/04/26</p>
                    </div>
                    <div class="styled__CTALinkContainer-sc-2ypaim-6 fxJSIs beans-content-stamp__link-container">
                      <span class="styled__Anchor-sc-1xbujuz-0 ievKTg beans-content-stamp__link beans-link__anchor">
                        <span class="styled__Text-sc-1xbujuz-1 eGUWOR beans-link__text">See details</span>
                        <span class="styled__IconContainer-sc-1xbujuz-2 fErNNd beans-link__icon-container"><svg aria-hidden="true" class="styled__SVG-xxa4wh-1 bItIHD beans-link__icon beans-icon__svg" height="20" preserveAspectRatio="xMinYMax meet" viewBox="-1 0 12 20" width="12" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M1.312 1.348L10.276 10l-8.964 8.644" fill="none" stroke="currentColor"></path></svg></span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-1p7y193-0 hBKxqL FBuSv beans-grid__column">
              <div class="styled__StyledDiv-sc-3p8bpt-0 ijbEaj">
                <a aria-label="Gilbert’s Turkey Breast Pastrami, Date of recall: 28/03/26" class="base-components__RootElement-sc-1mosoyj-1 styled__Container-sc-2ypaim-0 hBKxqL hOKhdr beans-content-group__content beans-content-stamp__container" href="https://digitalcontent.api.tesco.com/v2/media/homepage/09476526-449b-4972-a8a0-2a973d0fa66b/2605-WF-929247-Gilberts-Pastrami.pdf">
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__ImageContainer-sc-2ypaim-1 kLJbkT eURbBK beans-content-stamp__image-container">
                    <picture><img class="styled__Image-sjvkdn-0 jQqzzH beans-content-stamp__responsive-image beans-responsive-image__image" src="https://digitalcontent.api.tesco.com/v2/media/homepage/6e7e720f-0cbd-47c9-9031-7e07729d3fc0/2605-DC-Product-Recall-604x340-Gilberts-Pastrami.jpeg" alt="null"></picture>
                  </div>
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__PanelContainer-sc-2ypaim-3 kLJbkT jjggsn beans-content-stamp__panel-container">
                    <div class="base-components__BaseElement-sc-1mosoyj-0 kLJbkT beans-content-stamp__content-container">
                      <h3 class="base-components__BaseElement-sc-1mosoyj-0 styled__Headline-sc-2ypaim-4 kLJbkT fCvCIX beans-content-stamp__headline">Gilbert’s Turkey Breast Pastrami</h3>
                      <p class="styled__StyledBodyText-sc-119w3hf-5 jbyJzm styled__BodyText-sc-2ypaim-5 dvrrOP beans-content-stamp__body-text">Date of recall: 28/03/26</p>
                    </div>
                    <div class="styled__CTALinkContainer-sc-2ypaim-6 fxJSIs beans-content-stamp__link-container">
                      <span class="styled__Anchor-sc-1xbujuz-0 ievKTg beans-content-stamp__link beans-link__anchor">
                        <span class="styled__Text-sc-1xbujuz-1 eGUWOR beans-link__text">See details</span>
                        <span class="styled__IconContainer-sc-1xbujuz-2 fErNNd beans-link__icon-container"><svg aria-hidden="true" class="styled__SVG-xxa4wh-1 bItIHD beans-link__icon beans-icon__svg" height="20" preserveAspectRatio="xMinYMax meet" viewBox="-1 0 12 20" width="12" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M1.312 1.348L10.276 10l-8.964 8.644" fill="none" stroke="currentColor"></path></svg></span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-1p7y193-0 hBKxqL FBuSv beans-grid__column">
              <div class="styled__StyledDiv-sc-3p8bpt-0 ijbEaj">
                <a aria-label="Various MOMA porridge pots and sachets, Date of recall: 22/03/26" class="base-components__RootElement-sc-1mosoyj-1 styled__Container-sc-2ypaim-0 hBKxqL hOKhdr beans-content-group__content beans-content-stamp__container" href="https://digitalcontent.api.tesco.com/v2/media/homepage/7e3a4285-63d0-48e3-afd2-98ce0b309038/2604-927050-Product-Recall-MOMA-Cereals-and-Free-From-Porridges.pdf">
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__ImageContainer-sc-2ypaim-1 kLJbkT eURbBK beans-content-stamp__image-container">
                    <picture><img class="styled__Image-sjvkdn-0 jQqzzH beans-content-stamp__responsive-image beans-responsive-image__image" src="https://digitalcontent.api.tesco.com/v2/media/homepage/42c6bd91-8a2b-4896-bcdb-5953ee01a4b1/2604-DC-Product-Recall-1280-Social-X-Moma.jpeg" alt="null"></picture>
                  </div>
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__PanelContainer-sc-2ypaim-3 kLJbkT jjggsn beans-content-stamp__panel-container">
                    <div class="base-components__BaseElement-sc-1mosoyj-0 kLJbkT beans-content-stamp__content-container">
                      <h3 class="base-components__BaseElement-sc-1mosoyj-0 styled__Headline-sc-2ypaim-4 kLJbkT fCvCIX beans-content-stamp__headline">Various MOMA porridge pots and sachets</h3>
                      <p class="styled__StyledBodyText-sc-119w3hf-5 jbyJzm styled__BodyText-sc-2ypaim-5 dvrrOP beans-content-stamp__body-text">Date of recall: 22/03/26</p>
                    </div>
                    <div class="styled__CTALinkContainer-sc-2ypaim-6 fxJSIs beans-content-stamp__link-container">
                      <span class="styled__Anchor-sc-1xbujuz-0 ievKTg beans-content-stamp__link beans-link__anchor">
                        <span class="styled__Text-sc-1xbujuz-1 eGUWOR beans-link__text">See details</span>
                        <span class="styled__IconContainer-sc-1xbujuz-2 fErNNd beans-link__icon-container"><svg aria-hidden="true" class="styled__SVG-xxa4wh-1 bItIHD beans-link__icon beans-icon__svg" height="20" preserveAspectRatio="xMinYMax meet" viewBox="-1 0 12 20" width="12" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M1.312 1.348L10.276 10l-8.964 8.644" fill="none" stroke="currentColor"></path></svg></span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-1p7y193-0 hBKxqL FBuSv beans-grid__column">
              <div class="styled__StyledDiv-sc-3p8bpt-0 ijbEaj">
                <a aria-label="Heck Minted Lamb Burgers 2 Pack 320g, Date of recall: 26/03/26" class="base-components__RootElement-sc-1mosoyj-1 styled__Container-sc-2ypaim-0 hBKxqL hOKhdr beans-content-group__content beans-content-stamp__container" href="https://digitalcontent.api.tesco.com/v2/media/homepage/6899c456-1775-440b-b855-910ab44cd864/2604-WF-923983-Heck.pdf">
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__ImageContainer-sc-2ypaim-1 kLJbkT eURbBK beans-content-stamp__image-container">
                    <picture><img class="styled__Image-sjvkdn-0 jQqzzH beans-content-stamp__responsive-image beans-responsive-image__image" src="https://digitalcontent.api.tesco.com/v2/media/homepage/7e24fb33-3016-46fe-a50d-d31925be6b10/2604-DC-Product-Recall-604x340-Heck.jpeg" alt="null"></picture>
                  </div>
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__PanelContainer-sc-2ypaim-3 kLJbkT jjggsn beans-content-stamp__panel-container">
                    <div class="base-components__BaseElement-sc-1mosoyj-0 kLJbkT beans-content-stamp__content-container">
                      <h3 class="base-components__BaseElement-sc-1mosoyj-0 styled__Headline-sc-2ypaim-4 kLJbkT fCvCIX beans-content-stamp__headline">Heck Minted Lamb Burgers 2 Pack 320g</h3>
                      <p class="styled__StyledBodyText-sc-119w3hf-5 jbyJzm styled__BodyText-sc-2ypaim-5 dvrrOP beans-content-stamp__body-text">Date of recall: 26/03/26</p>
                    </div>
                    <div class="styled__CTALinkContainer-sc-2ypaim-6 fxJSIs beans-content-stamp__link-container">
                      <span class="styled__Anchor-sc-1xbujuz-0 ievKTg beans-content-stamp__link beans-link__anchor">
                        <span class="styled__Text-sc-1xbujuz-1 eGUWOR beans-link__text">See details</span>
                        <span class="styled__IconContainer-sc-1xbujuz-2 fErNNd beans-link__icon-container"><svg aria-hidden="true" class="styled__SVG-xxa4wh-1 bItIHD beans-link__icon beans-icon__svg" height="20" preserveAspectRatio="xMinYMax meet" viewBox="-1 0 12 20" width="12" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M1.312 1.348L10.276 10l-8.964 8.644" fill="none" stroke="currentColor"></path></svg></span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-1p7y193-0 hBKxqL FBuSv beans-grid__column">
              <div class="styled__StyledDiv-sc-3p8bpt-0 ijbEaj">
                <a aria-label="Squishy Pugs toys assortment, Date of recall: 20/03/26" class="base-components__RootElement-sc-1mosoyj-1 styled__Container-sc-2ypaim-0 hBKxqL hOKhdr beans-content-group__content beans-content-stamp__container" href="https://digitalcontent.api.tesco.com/v2/media/homepage/f1713ebf-b398-4064-8cef-ffda4d9d7d21/2604-908450-Entertainer-Squishy-Pugs.pdf">
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__ImageContainer-sc-2ypaim-1 kLJbkT eURbBK beans-content-stamp__image-container">
                    <picture><img class="styled__Image-sjvkdn-0 jQqzzH beans-content-stamp__responsive-image beans-responsive-image__image" src="https://digitalcontent.api.tesco.com/v2/media/homepage/fa824414-3db2-4ddc-96fa-97e1dfb94eb5/2604-908450-Entertainer-Squishy-Pugs.png" alt="null"></picture>
                  </div>
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__PanelContainer-sc-2ypaim-3 kLJbkT jjggsn beans-content-stamp__panel-container">
                    <div class="base-components__BaseElement-sc-1mosoyj-0 kLJbkT beans-content-stamp__content-container">
                      <h3 class="base-components__BaseElement-sc-1mosoyj-0 styled__Headline-sc-2ypaim-4 kLJbkT fCvCIX beans-content-stamp__headline">Squishy Pugs toys assortment</h3>
                      <p class="styled__StyledBodyText-sc-119w3hf-5 jbyJzm styled__BodyText-sc-2ypaim-5 dvrrOP beans-content-stamp__body-text">Date of recall: 20/03/26</p>
                    </div>
                    <div class="styled__CTALinkContainer-sc-2ypaim-6 fxJSIs beans-content-stamp__link-container">
                      <span class="styled__Anchor-sc-1xbujuz-0 ievKTg beans-content-stamp__link beans-link__anchor">
                        <span class="styled__Text-sc-1xbujuz-1 eGUWOR beans-link__text">See details</span>
                        <span class="styled__IconContainer-sc-1xbujuz-2 fErNNd beans-link__icon-container"><svg aria-hidden="true" class="styled__SVG-xxa4wh-1 bItIHD beans-link__icon beans-icon__svg" height="20" preserveAspectRatio="xMinYMax meet" viewBox="-1 0 12 20" width="12" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M1.312 1.348L10.276 10l-8.964 8.644" fill="none" stroke="currentColor"></path></svg></span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-1p7y193-0 hBKxqL FBuSv beans-grid__column">
              <div class="styled__StyledDiv-sc-3p8bpt-0 ijbEaj">
                <a aria-label="Ramipril 5mg Capsules, Date of recall: 09/03/26" class="base-components__RootElement-sc-1mosoyj-1 styled__Container-sc-2ypaim-0 hBKxqL hOKhdr beans-content-group__content beans-content-stamp__container" href="https://digitalcontent.api.tesco.com/v2/media/homepage/b997892d-1e79-43d4-bf3f-61c309196285/2602-WF-880250-Pharmacy.pdf">
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__ImageContainer-sc-2ypaim-1 kLJbkT eURbBK beans-content-stamp__image-container">
                    <picture><img class="styled__Image-sjvkdn-0 jQqzzH beans-content-stamp__responsive-image beans-responsive-image__image" src="https://digitalcontent.api.tesco.com/v2/media/homepage/886a5d00-aa1f-414d-9676-d265655d3de7/2026-DC-Product-Recall-604x340-Rampril.jpeg" alt="null"></picture>
                  </div>
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__PanelContainer-sc-2ypaim-3 kLJbkT jjggsn beans-content-stamp__panel-container">
                    <div class="base-components__BaseElement-sc-1mosoyj-0 kLJbkT beans-content-stamp__content-container">
                      <h3 class="base-components__BaseElement-sc-1mosoyj-0 styled__Headline-sc-2ypaim-4 kLJbkT fCvCIX beans-content-stamp__headline">Ramipril 5mg Capsules</h3>
                      <p class="styled__StyledBodyText-sc-119w3hf-5 jbyJzm styled__BodyText-sc-2ypaim-5 dvrrOP beans-content-stamp__body-text">Date of recall: 09/03/26</p>
                    </div>
                    <div class="styled__CTALinkContainer-sc-2ypaim-6 fxJSIs beans-content-stamp__link-container">
                      <span class="styled__Anchor-sc-1xbujuz-0 ievKTg beans-content-stamp__link beans-link__anchor">
                        <span class="styled__Text-sc-1xbujuz-1 eGUWOR beans-link__text">See details</span>
                        <span class="styled__IconContainer-sc-1xbujuz-2 fErNNd beans-link__icon-container"><svg aria-hidden="true" class="styled__SVG-xxa4wh-1 bItIHD beans-link__icon beans-icon__svg" height="20" preserveAspectRatio="xMinYMax meet" viewBox="-1 0 12 20" width="12" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M1.312 1.348L10.276 10l-8.964 8.644" fill="none" stroke="currentColor"></path></svg></span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-1p7y193-0 hBKxqL FBuSv beans-grid__column">
              <div class="styled__StyledDiv-sc-3p8bpt-0 ijbEaj">
                <a aria-label="Walkers Hot Honey Crisps 6x25g, Date of recall: 15/03/26" class="base-components__RootElement-sc-1mosoyj-1 styled__Container-sc-2ypaim-0 hBKxqL hOKhdr beans-content-group__content beans-content-stamp__container" href="https://digitalcontent.api.tesco.com/v2/media/homepage/d0a93d9a-9eb9-40f3-9dbf-6f5753fa5944/2603-895000-Walkers-UK.pdf">
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__ImageContainer-sc-2ypaim-1 kLJbkT eURbBK beans-content-stamp__image-container">
                    <picture><img class="styled__Image-sjvkdn-0 jQqzzH beans-content-stamp__responsive-image beans-responsive-image__image" src="https://digitalcontent.api.tesco.com/v2/media/homepage/765b180a-409c-4481-be19-a40088123c09/Site-2603-895000-Walkers-UK.png" alt="null"></picture>
                  </div>
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__PanelContainer-sc-2ypaim-3 kLJbkT jjggsn beans-content-stamp__panel-container">
                    <div class="base-components__BaseElement-sc-1mosoyj-0 kLJbkT beans-content-stamp__content-container">
                      <h3 class="base-components__BaseElement-sc-1mosoyj-0 styled__Headline-sc-2ypaim-4 kLJbkT fCvCIX beans-content-stamp__headline">Walkers Hot Honey Crisps 6x25g</h3>
                      <p class="styled__StyledBodyText-sc-119w3hf-5 jbyJzm styled__BodyText-sc-2ypaim-5 dvrrOP beans-content-stamp__body-text">Date of recall: 15/03/26</p>
                    </div>
                    <div class="styled__CTALinkContainer-sc-2ypaim-6 fxJSIs beans-content-stamp__link-container">
                      <span class="styled__Anchor-sc-1xbujuz-0 ievKTg beans-content-stamp__link beans-link__anchor">
                        <span class="styled__Text-sc-1xbujuz-1 eGUWOR beans-link__text">See details</span>
                        <span class="styled__IconContainer-sc-1xbujuz-2 fErNNd beans-link__icon-container"><svg aria-hidden="true" class="styled__SVG-xxa4wh-1 bItIHD beans-link__icon beans-icon__svg" height="20" preserveAspectRatio="xMinYMax meet" viewBox="-1 0 12 20" width="12" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M1.312 1.348L10.276 10l-8.964 8.644" fill="none" stroke="currentColor"></path></svg></span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-1p7y193-0 hBKxqL FBuSv beans-grid__column">
              <div class="styled__StyledDiv-sc-3p8bpt-0 ijbEaj">
                <a aria-label="Various ORB Funkee sand toys, Date of recall: 04/03/26" class="base-components__RootElement-sc-1mosoyj-1 styled__Container-sc-2ypaim-0 hBKxqL hOKhdr beans-content-group__content beans-content-stamp__container" href="https://digitalcontent.api.tesco.com/v2/media/homepage/2b8a2621-32ff-4862-8972-f7e3713e0260/2602-ORB+Toys-UKI.pdf">
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__ImageContainer-sc-2ypaim-1 kLJbkT eURbBK beans-content-stamp__image-container">
                    <picture><img class="styled__Image-sjvkdn-0 jQqzzH beans-content-stamp__responsive-image beans-responsive-image__image" src="https://digitalcontent.api.tesco.com/v2/media/homepage/cc12dc78-6b3a-49cc-afef-55442d27b3c0/2602-WF-873900-ORB+Toys-Site.png" alt="null"></picture>
                  </div>
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__PanelContainer-sc-2ypaim-3 kLJbkT jjggsn beans-content-stamp__panel-container">
                    <div class="base-components__BaseElement-sc-1mosoyj-0 kLJbkT beans-content-stamp__content-container">
                      <h3 class="base-components__BaseElement-sc-1mosoyj-0 styled__Headline-sc-2ypaim-4 kLJbkT fCvCIX beans-content-stamp__headline">Various ORB Funkee sand toys</h3>
                      <p class="styled__StyledBodyText-sc-119w3hf-5 jbyJzm styled__BodyText-sc-2ypaim-5 dvrrOP beans-content-stamp__body-text">Date of recall: 04/03/26</p>
                    </div>
                    <div class="styled__CTALinkContainer-sc-2ypaim-6 fxJSIs beans-content-stamp__link-container">
                      <span class="styled__Anchor-sc-1xbujuz-0 ievKTg beans-content-stamp__link beans-link__anchor">
                        <span class="styled__Text-sc-1xbujuz-1 eGUWOR beans-link__text">See details</span>
                        <span class="styled__IconContainer-sc-1xbujuz-2 fErNNd beans-link__icon-container"><svg aria-hidden="true" class="styled__SVG-xxa4wh-1 bItIHD beans-link__icon beans-icon__svg" height="20" preserveAspectRatio="xMinYMax meet" viewBox="-1 0 12 20" width="12" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M1.312 1.348L10.276 10l-8.964 8.644" fill="none" stroke="currentColor"></path></svg></span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-1p7y193-0 hBKxqL FBuSv beans-grid__column">
              <div class="styled__StyledDiv-sc-3p8bpt-0 ijbEaj">
                <a aria-label="Various Addo Play Ltd sand-based products, Date of recall: 04/03/26" class="base-components__RootElement-sc-1mosoyj-1 styled__Container-sc-2ypaim-0 hBKxqL hOKhdr beans-content-group__content beans-content-stamp__container" href="https://digitalcontent.api.tesco.com/v2/media/homepage/219436eb-360f-43d6-8b45-bff17b701ebd/2601-870019-Entertainer+Sand+Art+Kit-UK%26ROI.pdf">
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__ImageContainer-sc-2ypaim-1 kLJbkT eURbBK beans-content-stamp__image-container">
                    <picture><img class="styled__Image-sjvkdn-0 jQqzzH beans-content-stamp__responsive-image beans-responsive-image__image" src="https://digitalcontent.api.tesco.com/v2/media/homepage/dbd19a63-93d3-4727-8a4d-be9420635a64/2601-Product-Recall-604x340-Entertainer+Sand+Art+Kits-UK%26ROI.jpeg" alt="null"></picture>
                  </div>
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__PanelContainer-sc-2ypaim-3 kLJbkT jjggsn beans-content-stamp__panel-container">
                    <div class="base-components__BaseElement-sc-1mosoyj-0 kLJbkT beans-content-stamp__content-container">
                      <h3 class="base-components__BaseElement-sc-1mosoyj-0 styled__Headline-sc-2ypaim-4 kLJbkT fCvCIX beans-content-stamp__headline">Various Addo Play Ltd sand-based products</h3>
                      <p class="styled__StyledBodyText-sc-119w3hf-5 jbyJzm styled__BodyText-sc-2ypaim-5 dvrrOP beans-content-stamp__body-text">Date of recall: 04/03/26</p>
                    </div>
                    <div class="styled__CTALinkContainer-sc-2ypaim-6 fxJSIs beans-content-stamp__link-container">
                      <span class="styled__Anchor-sc-1xbujuz-0 ievKTg beans-content-stamp__link beans-link__anchor">
                        <span class="styled__Text-sc-1xbujuz-1 eGUWOR beans-link__text">See details</span>
                        <span class="styled__IconContainer-sc-1xbujuz-2 fErNNd beans-link__icon-container"><svg aria-hidden="true" class="styled__SVG-xxa4wh-1 bItIHD beans-link__icon beans-icon__svg" height="20" preserveAspectRatio="xMinYMax meet" viewBox="-1 0 12 20" width="12" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M1.312 1.348L10.276 10l-8.964 8.644" fill="none" stroke="currentColor"></path></svg></span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-1p7y193-0 hBKxqL FBuSv beans-grid__column">
              <div class="styled__StyledDiv-sc-3p8bpt-0 ijbEaj">
                <a aria-label="Bastides Saucisson Sec 200g, Date of recall: 02/03/26" class="base-components__RootElement-sc-1mosoyj-1 styled__Container-sc-2ypaim-0 hBKxqL hOKhdr beans-content-group__content beans-content-stamp__container" href="https://digitalcontent.api.tesco.com/v2/media/homepage/1cfa2967-edb9-4abb-922a-d6a325954aac/2602-WF-865950-Saucisson.pdf">
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__ImageContainer-sc-2ypaim-1 kLJbkT eURbBK beans-content-stamp__image-container">
                    <picture><img class="styled__Image-sjvkdn-0 jQqzzH beans-content-stamp__responsive-image beans-responsive-image__image" src="https://digitalcontent.api.tesco.com/v2/media/homepage/a3c8d943-d884-4483-96e1-d01f3b69e4c5/2602-DC-Social-stamp-Saucisson-604x340.jpeg" alt="null"></picture>
                  </div>
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__PanelContainer-sc-2ypaim-3 kLJbkT jjggsn beans-content-stamp__panel-container">
                    <div class="base-components__BaseElement-sc-1mosoyj-0 kLJbkT beans-content-stamp__content-container">
                      <h3 class="base-components__BaseElement-sc-1mosoyj-0 styled__Headline-sc-2ypaim-4 kLJbkT fCvCIX beans-content-stamp__headline">Bastides Saucisson Sec 200g</h3>
                      <p class="styled__StyledBodyText-sc-119w3hf-5 jbyJzm styled__BodyText-sc-2ypaim-5 dvrrOP beans-content-stamp__body-text">Date of recall: 02/03/26</p>
                    </div>
                    <div class="styled__CTALinkContainer-sc-2ypaim-6 fxJSIs beans-content-stamp__link-container">
                      <span class="styled__Anchor-sc-1xbujuz-0 ievKTg beans-content-stamp__link beans-link__anchor">
                        <span class="styled__Text-sc-1xbujuz-1 eGUWOR beans-link__text">See details</span>
                        <span class="styled__IconContainer-sc-1xbujuz-2 fErNNd beans-link__icon-container"><svg aria-hidden="true" class="styled__SVG-xxa4wh-1 bItIHD beans-link__icon beans-icon__svg" height="20" preserveAspectRatio="xMinYMax meet" viewBox="-1 0 12 20" width="12" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M1.312 1.348L10.276 10l-8.964 8.644" fill="none" stroke="currentColor"></path></svg></span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-1p7y193-0 hBKxqL FBuSv beans-grid__column">
              <div class="styled__StyledDiv-sc-3p8bpt-0 ijbEaj">
                <a aria-label="Stretcherz Squad Action Figure 4 Pack Assortment, Date of recall: 18/02/26" class="base-components__RootElement-sc-1mosoyj-1 styled__Container-sc-2ypaim-0 hBKxqL hOKhdr beans-content-group__content beans-content-stamp__container" href="https://digitalcontent.api.tesco.com/v2/media/homepage/f56b0a30-0789-4204-a6f9-7b46d106e9dd/2652-835150-Stretcherz+Squad+Action+Figure+4+Pack+Assortment.pdf">
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__ImageContainer-sc-2ypaim-1 kLJbkT eURbBK beans-content-stamp__image-container">
                    <picture><img class="styled__Image-sjvkdn-0 jQqzzH beans-content-stamp__responsive-image beans-responsive-image__image" src="https://digitalcontent.api.tesco.com/v2/media/homepage/0ee6f434-9a1b-45e2-b1cc-f8edc2a884ce/Site-2652-827246-Tesco+Grape+%26+Berry+Medley-recall.png" alt=" Stretcherz Squad Action Figure 4 Pack Assortment"></picture>
                  </div>
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__PanelContainer-sc-2ypaim-3 kLJbkT jjggsn beans-content-stamp__panel-container">
                    <div class="base-components__BaseElement-sc-1mosoyj-0 kLJbkT beans-content-stamp__content-container">
                      <h3 class="base-components__BaseElement-sc-1mosoyj-0 styled__Headline-sc-2ypaim-4 kLJbkT fCvCIX beans-content-stamp__headline">Stretcherz Squad Action Figure 4 Pack Assortment</h3>
                      <p class="styled__StyledBodyText-sc-119w3hf-5 jbyJzm styled__BodyText-sc-2ypaim-5 dvrrOP beans-content-stamp__body-text">Date of recall: 18/02/26</p>
                    </div>
                    <div class="styled__CTALinkContainer-sc-2ypaim-6 fxJSIs beans-content-stamp__link-container">
                      <span class="styled__Anchor-sc-1xbujuz-0 ievKTg beans-content-stamp__link beans-link__anchor">
                        <span class="styled__Text-sc-1xbujuz-1 eGUWOR beans-link__text">See details</span>
                        <span class="styled__IconContainer-sc-1xbujuz-2 fErNNd beans-link__icon-container"><svg aria-hidden="true" class="styled__SVG-xxa4wh-1 bItIHD beans-link__icon beans-icon__svg" height="20" preserveAspectRatio="xMinYMax meet" viewBox="-1 0 12 20" width="12" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M1.312 1.348L10.276 10l-8.964 8.644" fill="none" stroke="currentColor"></path></svg></span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="base-components__RootElement-sc-1mosoyj-1 styled-sc-1p7y193-0 hBKxqL FBuSv beans-grid__column">
              <div class="styled__StyledDiv-sc-3p8bpt-0 ijbEaj">
                <a aria-label="Various SMA Infant Formula and Follow-On Formula, Date of recall: 05/01/2026" class="base-components__RootElement-sc-1mosoyj-1 styled__Container-sc-2ypaim-0 hBKxqL hOKhdr beans-content-group__content beans-content-stamp__container" href="https://digitalcontent.api.tesco.com/v2/media/homepage/5faaba02-567c-47f9-9bc2-ab1ae6c37cf1/2646-WF-718091-Product+Recall-Various+SMA+Infant+and+Follow+on+Formula-UK.pdf">
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__ImageContainer-sc-2ypaim-1 kLJbkT eURbBK beans-content-stamp__image-container">
                    <picture><img class="styled__Image-sjvkdn-0 jQqzzH beans-content-stamp__responsive-image beans-responsive-image__image" src="https://digitalcontent.api.tesco.com/v2/media/homepage/f732adea-9e8f-433b-b30c-66898685e683/Site-2646-Product-Recall-604x340-Various+SMA+Infant+and+Follow+on+Formula-UK.png" alt="Various SMA Infant Formula and Follow-On Formula"></picture>
                  </div>
                  <div class="base-components__BaseElement-sc-1mosoyj-0 styled__PanelContainer-sc-2ypaim-3 kLJbkT jjggsn beans-content-stamp__panel-container">
                    <div class="base-components__BaseElement-sc-1mosoyj-0 kLJbkT beans-content-stamp__content-container">
                      <h3 class="base-components__BaseElement-sc-1mosoyj-0 styled__Headline-sc-2ypaim-4 kLJbkT fCvCIX beans-content-stamp__headline">Various SMA Infant Formula and Follow-On Formula</h3>
                      <p class="styled__StyledBodyText-sc-119w3hf-5 jbyJzm styled__BodyText-sc-2ypaim-5 dvrrOP beans-content-stamp__body-text">Date of recall: 05/01/2026</p>
                    </div>
                    <div class="styled__CTALinkContainer-sc-2ypaim-6 fxJSIs beans-content-stamp__link-container">
                      <span class="styled__Anchor-sc-1xbujuz-0 ievKTg beans-content-stamp__link beans-link__anchor">
                        <span class="styled__Text-sc-1xbujuz-1 eGUWOR beans-link__text">See details</span>
                        <span class="styled__IconContainer-sc-1xbujuz-2 fErNNd beans-link__icon-container"><svg aria-hidden="true" class="styled__SVG-xxa4wh-1 bItIHD beans-link__icon beans-icon__svg" height="20" preserveAspectRatio="xMinYMax meet" viewBox="-1 0 12 20" width="12" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M1.312 1.348L10.276 10l-8.964 8.644" fill="none" stroke="currentColor"></path></svg></span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
