<footer class="footer">
  <div class="page-container">
    <div class="footer__grid">
      <div class="footer__col">
        <h3 class="footer__heading">Help & FAQs</h3>
        <ul class="footer__links">
          <li><a routerLink="/help" class="footer__link">Help Centre</a></li>
          <li><a routerLink="/help/delivery" class="footer__link">Delivery help</a></li>
          <li><a routerLink="/help/orders" class="footer__link">Orders & payments</a></li>
          <li><a routerLink="/help/clubcard" class="footer__link">Clubcard help</a></li>
          <li><a routerLink="/help/returns" class="footer__link">Returns & refunds</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__heading">About Tesco</h3>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">About us</a></li>
          <li><a href="#" class="footer__link">Careers</a></li>
          <li><a href="#" class="footer__link">Corporate responsibility</a></li>
          <li><a href="#" class="footer__link">Media centre</a></li>
          <li><a href="#" class="footer__link">Investor relations</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__heading">Our Products</h3>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">Tesco Bank</a></li>
          <li><a href="#" class="footer__link">Tesco Mobile</a></li>
          <li><a routerLink="/delivery" class="footer__link">Delivery Saver</a></li>
          <li><a href="#" class="footer__link">E-Gift Cards</a></li>
          <li><a routerLink="/stores" class="footer__link">Store Locator</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__heading">Policies</h3>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">Privacy & Cookies</a></li>
          <li><a href="#" class="footer__link">Terms & Conditions</a></li>
          <li><a href="#" class="footer__link">Accessibility</a></li>
          <li><a href="#" class="footer__link">Modern Slavery Statement</a></li>
        </ul>
      </div>
    </div>

    <div class="footer__bottom">
      <span class="footer__copyright">© {{ year }} Tesco Clone. All rights reserved.</span>
      <div class="footer__payment-icons">
        <span class="footer__payment-label">We accept:</span>
        <span class="footer__payment-chip">Visa</span>
        <span class="footer__payment-chip">Mastercard</span>
        <span class="footer__payment-chip">PayPal</span>
        <span class="footer__payment-chip">Amex</span>
      </div>
    </div>
  </div>
</footer>
