@use 'tokens' as *;

.text-xs  { font-size: $font-size-xs; }
.text-sm  { font-size: $font-size-sm; }
.text-md  { font-size: $font-size-md; }
.text-lg  { font-size: $font-size-lg; }
.text-bold { font-weight: 700; }
.text-muted { color: $color-muted; }
.text-center { text-align: center; }

h1 { font-size: $font-size-xl; font-weight: 700; }
h2 { font-size: $font-size-lg; font-weight: 700; }
h3 { font-size: $font-size-md; font-weight: 700; }
